# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages data scientists use are :
Python
SQL
R
Julia
C language

Some of the commonly used libraries by data scientists used are:
Pandas
Numpy
Matplotlib
Seaborn
Skicit-learn

In [1]:
import pandas as pd

# Create a DataFrame
data = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'VSCode with Python']}
df = pd.DataFrame(data)

# Display the DataFrame as a table
df

   Data Science Tools
0    Jupyter Notebook
1             RStudio
2  VSCode with Python

# Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply 3 by 4 and then add 5.
result = (3 * 4) + 5

# Display the result
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60

# Display the result
hours

3.3333333333333335

Objectives

- List popular programming languages for Data Science.
- Demonstrate how to create and execute code cells in a Jupyter Notebook.
- Illustrate basic arithmetic operations in Python.
- Explain how to convert units in Python (e.g., minutes to hours).
- Provide examples of using Markdown for formatting in Jupyter Notebook.

# Author

Melissa Onwuka